<div class="row-fluid">
    <div class="span12">
        <%= form_for(@config_pack) do |f| %>
            <% if @config_pack.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@config_pack.errors.count, "error") %> prohibited this config_pack from being saved:</h2>

                    <ul>
                        <% @config_pack.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name %>
            </div>
            <div class="field">
                <%= f.label :summary %><br />
                <%= f.text_area :summary %>
            </div>
            <div class="field">
                <%= f.label :install %><br />
                <%= f.text_area :install %>
            </div>
            <div class="field">
                <%= f.label :vendor %><br />
                <%= f.text_field :vendor %>
            </div>
            <div class="field">
                <%= f.label :product %><br />
                <%= f.text_field :product %>
            </div>

            <div class="actions">
                <%= f.submit %>
            </div>
        <% end %>
    </div>
</div>