<% wide = nil if local_assigns[:wide].nil? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Vendor</th>
      <th>Product</th>
      <th>User</th>
      <th>Rating</th>
      <% if wide %>
      <th width="45">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% pack_collection.each do |config_pack| %>
    <tr>
      <td><%= link_to config_pack.name, config_pack %></td>
      <td><%= truncate(textilize(config_pack.summary), length: 60, separator: ' ').html_safe %></td>
      <td><%= truncate(config_pack.vendor, length: 20, separator: ' ') %></td>
      <td><%= truncate(config_pack.product, length: 20, separator: ' ') %></td>
      <td><%= config_pack.user.name %></td>
      <td><%= rating_for config_pack, "pack_overall" %></td>
      <% if wide %>
      <td>
        <div class="btn-group">
          <% if user_signed_in? %>
            <% if config_pack.user == current_user %>
              <%= link_to raw('<i class="icon-edit"></i>'), edit_config_pack_path(config_pack), class: "btn btn-mini" %>
              <%= link_to raw('<i class="icon-remove"></i>'), config_pack, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini" %>
            <% end %>
          <% end %>

          <%= link_to raw('<i class="icon-eye-open"></i>'), config_pack, class: "btn btn-mini" %>
        </div>
      </td>
      <% end %>

    </tr>
<% end %>
  </tbody>
</table>
