<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Vendor</th>
      <th>Product</th>
      <th>User</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
<% pack_collection.each do |config_pack| %>
    <tr>
      <td><%= link_to config_pack.name, config_pack %></td>
      <td><%= truncate(textilize(config_pack.summary), length: 60, separator: ' ').html_safe %></td>
      <td><%= truncate(config_pack.vendor, length: 20, separator: ' ') %></td>
      <td><%= truncate(config_pack.product, length: 20, separator: ' ') %></td>
      <td><%= config_pack.user.name %></td>
      <td><%= rating_for config_pack, "pack_overall" %></td>
    </tr>
<% end %>
  </tbody>
</table>